/* tablet version  */
@media screen and (min-width:768px) {

    /* about-section */

    #about .row{
        justify-content: space-between;
        gap:1.5em;
    }
    
    #about .col{
        width: calc(100% / 3 - 1em);
    }

    #about .col:first-child{
        width: calc(100% / 3 * 2 - .5em);
    }

    /* testimonials */

    #testimonials .card{
        display: flex;
        align-items: center;
        gap: 4em;
    }

    .testimonial-photo{
        width: 20%;
    }

    .testimonial-description{
        width: 78%;
    }

    /* benefits-section */
    #benefits .row{
        /* justify-content: space-between; */
        gap: 1.5em;
    }

    #benefits .col{
        width: calc(100% / 2 - 1.5em / 2);
    }

    /* about-us section */

    #about-us .row{
        justify-content: space-between;
    }

    #about-us .col:first-child{
        width: 70%;
    }

    #about-us .col:last-child{
        width: 25%;
    }

}

/* desktop version */

@media screen and (min-width:992px) {
    .main-container{
        width: 80%;
    }

    /* header */

    .sandwich-menu{
        display: none;
    }

    .header-menu{
        display: block;
    }



    /* about-section */

     .card-ex{
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .card-description{
        width: 60%;
    }

    .card-photo{
        width:45%;
        align-self: flex-end;
    }

    /* planning */

    #planning .main-container{
        width: 70%;
    }

    #planning .row{
        gap:1.5em;
        align-items: flex-start;
    }

    #planning .col{
        width:calc(100% / 2 - 1.5em)
    }

    /* testimonials */

    #testimonials .card{
        gap: 5em;
    }

    /* benefit-section */
    #benefits .col{
        width: calc(100% / 3 - 1.5em * 2 / 3);
    }
    /* about-us section */

    /* #about-us .row{
        justify-content: space-between;
    }

    #about-us .col:first-child{
        -webkit-;
    } */


}
