/* tablet size  */
@media screen and (min-width:768px) {

    /* about-section */

    #about .row{
        justify-content: space-between;
        gap:1.5em;
    }
    
    #about .col{
        width: calc(100% / 3 - 1em);
    }

    #about .col:first-child{
        width: calc(100% / 3 * 2 - .5em);
    }

}

/* desktop size */

@media screen and (min-width:992px) {
    .main-container{
        width: 80%;
    }

    /* header */

    .sandwich-menu{
        display: none;
    }

    .header-menu{
        display: block;
    }

    /* about-section */

    #about .card:first-child{
        display: flex;
        justify-content: space-between;

    }

    .card-description{
        width: 60%;
    }

    .card-photo{
        width:45%;
        align-self: flex-end;
    }

}
