*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* color */
    --header-color:#0084FD;
    --primary-color:#9792E4;
    --secondary-color:#B5DDFF;
    /* spacing */
    --default-margin-top:1em;
    --default-margin-bottom:1em;
    --default-margin-left:1em;
    --default-margin-right:1em;
}

/* typography */

html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

/* common */

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 1em;
}

i{
    margin-right: .5em;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


/* color and bg */

.bg-header{
    background-color: var(--header-color);
}


/* layout */

.header-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.main-container {
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
}

.mgb{
    margin-bottom: var(--default-margin-bottom);
}

.mgt{
    margin-bottom: var(--default-margin-top);
}

.card{
    padding: 1em 1em 1em 1em;
}

/* #about .main-container .card:first-child{
    padding-bottom: 0;
} */

.card-soft-rounded{
    background-color: var(--primary-color);
    border-radius: 1em;

}

.card-hard-rounded{
    background-color: white;
    border-radius: 2em;
    text-align: center;
}

.card-hard-rounded-2{
    border-radius: 2em;
    background-color: var(--primary-color);
}
/* flex */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

/* header */

header{
    width: 100%;

    background-color: var(--header-color);
    color: white;
    
    position: fixed;
    left: 0;
    top:0;
    z-index: 678;
}

.header-menu{
    display: none;
}

.header-menu ul{
    display: flex;
}

.header-menu ul li{
    margin-right: 1em;
}


/* main */
/* about-section */

#about{
    width: 100%;
    padding-top:7rem;

}

#about .col:first-child img{
    width: 30%;

}

.card-photo{
    width: 100%;
    text-align: center;
}

/* planning-section */

#planning{
    background-color: var(--primary-color);
}

/* testimonial-section */

.testimonial-photo{
    text-align: center;
    
}

.testimonial-photo img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}



