*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* bg-color */
    --header-color:#0084FD;
    --primary-color:#9792E4;
    --secondary-color:#B5DDFF;
    /* font color */
    --cta-color:#FDC15F;
    /* spacing */
    --default-margin-top:1em;
    --default-margin-bottom:1em;
    --default-margin-left:1em;
    --default-margin-right:1em;
    --margin-2-bottom:2em;
    --margin-2-top:2em;
}

/* typography */

html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

/* common */

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6,p,a{
    margin-bottom: var(--default-margin-bottom);
}

p{
    line-height: 1.5em;
}

i{
    margin-right: .5em;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


/* color and bg */

.bg-white{
    background-color: white;
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-header{
    background-color: var(--header-color);
}

.cl-white{
    color: white;
}

.cl-black{
    color: black;
}

.cl-primary{
    color: var(--primary-color);
}

.cl-secondary{
    color: var(--secondary-color);
}




/* layout */

.header-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.main-container {
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
}

.mgb{
    margin-bottom: var(--default-margin-bottom);
}

.mgt{
    margin-bottom: var(--default-margin-top);
}

.mgt-2{
    margin-top: var(--margin-2-top);
}

.mgb-2{
    margin-bottom: var(--margin-2-bottom);
}

.txt-cen{
    text-align: center;
}

/* buttons */

.header-button{
    padding: .6em 1em;
    background-color: white;
    color: black;
    border-radius: 2em;
}

.about-button{
    padding: .6em 3em;
    background-color: var(--header-color);
    color:white;
    border-radius: 2em;
}

/* card */
.card{
    padding: 1em 1em 1em 1em;
}

/* #about .main-container .card:first-child{
    padding-bottom: 0;
} */

.card-soft-rounded{
    background-color: var(--secondary-color);
    border-radius: 1em;
}

.card-soft-rounded-2{
    background-color: white;
    border-radius: 1em;
}

.card-hard-rounded{
    border-radius: 2em;
}

/* flex */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
}

/* header */

header{
    width: 100%;

    background-color: var(--header-color);
    color: white;
    
    position: fixed;
    left: 0;
    top:0;
    z-index: 678;
}

.header-menu{
    display: none;
}

.header-menu ul{
    display: flex;
    align-items: center;
}

.header-menu ul li{
    margin-right: 1em;
}


/* main */
/* about-section */

#about{
    width: 100%;
    padding-top:7rem;
    text-align: center;
}

#about .col:first-child{
    text-align: left;
}

#about .card{
    height: 100%;
}


.card-photo{
    width: 100%;
    margin-bottom: -1.50em;
}


#about h3{
    color: var(--header-color);
    font-size: 1.5rem;
}

#about i{
    color: var(--header-color);
    margin: 0 auto;
    margin-bottom: .5em;
}

#about .about-button i{
    color: white;
    margin-right: .5em;
}


/* planning-section */

#planning{
    background-color: var(--primary-color);
}

#planning h2{
    font-size: 3rem; 
}

i[class="fa-solid fa-arrow-down"]{
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 2em;
}

/* testimonial-section */

.testimonial-photo img{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-description{
    text-align: center;
}

.testimonial-description strong{
    font-size: 1.5rem;
}


/* benefits-section */

#benefits{
    background-color: var(--primary-color);
}

/* about-us section */
#about-us .about-us-pic{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;

    position: relative;
    
    /* debug */
    border: 1px solid black;
    background-image: url(../img/about.jpg);
    background-size: contain;
}

#about-us .about-us-pic h2{
    position: absolute;
    top:0;
    right: 0;

}



#about-us p{
    line-height: 2rem;
}
/* cta section */

#cta-section{
    background-color: var(--primary-color);
    text-align: center;
}

#cta-section h2{
    font-size: 3rem;
    color: #FDC15F;
}

/* footer */

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2em 2em;
}

footer a{
    text-decoration: underline;
    color: blue;
}

